// Card
.card {
    position: relative;
    word-wrap: break-word;
    border-radius: 12px;
    margin-top: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
    &:not([data-border="no"]) {
    }
  
    &:not([data-shadow="0"]) {
      box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
    }
  
    &[data-theme="dark"] {
      background: #2b2a33;
    }
  
    .card-header {
      font-weight: 400;
      font-size: 1.2rem;
      color: #3f414d;
  
      &:not([data-padding="no"], [data-padding="0"]) {
        padding: 1.4rem 1.25rem;
      }
    }
  
    .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      line-height: 2.5;
      text-align: justify;
  
      &:not([data-padding="0"]) {
        padding: 1rem 2rem;
      }
    }
  
    &:hover:not([data-shadow="0"]) {
    }
  
    &[data-margin="auto"] {
      max-width: 480px;
      margin: 0 auto;
    }
  
    &:hover[data-shadow="0"] {
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-2px);
    }
  }
  
  .card.shadow {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  }
  